---
layout: layouts/base.html
title: Birmingham Web Design | SuperMind Web Designs
permalink: /locations/birmingham/
---
{% set internalHeroTitle = "Birmingham" %}{% set locationCity = "Birmingham" %}{% set locationRegion = "Birmingham" %}{% set locationIntro = "Build a stronger Birmingham online presence with a fast, accessible website designed around your services, customers, and local search goals." %}{% set locationClosing = "SuperMind helps Birmingham businesses turn their website into a clear, credible, and measurable source of new enquiries." %}{% block pagecss %}<link rel="stylesheet" href="/location-page.css" />{% endblock %}{% block pagehead %}<meta name="description" content="Birmingham web design and local SEO website development for growing businesses. SuperMind creates fast custom websites that generate leads." />{% endblock %}{% include "partials/internal-hero.html" %}{% include "partials/location-content.html" %}
